<div class="container">
  <header>
    <h1>Homes for Cheap</h1>
    <h2>Where you can find the best deals on homes</h2>
  </header>

  <aside>
    <a href="/">Home</a>
    <a href="listings">Listings</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contact Us</a>
  </aside>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>
      Copyright &copy; {{ year }}
      <a href="mailto:richard.krasso@bellevue.edu">Professor Krasso</a>
    </p>
    <p>
      Built with &hearts; by your friends at Bellevue University using Angular v{{ ngVersion}}
    </p>
  </footer>
</div>
